* {
  margin: 0px;
}

.grid {
  min-height: 100vh;
  display: grid;

  grid-template-columns: 30% 40% 30%;
  grid-template-areas:
    "a b c"
    "d e f "
    "g h i"
    "g h j";
}

.items-1 {
  grid-area: a;
  background-color: skyblue;
}

.items-2 {
  grid-area: b;
  background-color: lightsalmon;
}
.items-3 {
  grid-area: c;
  background: linear-gradient(to right, blue 70%, red);
}
.items-4 {
  grid-area: d;
  background-color: greenyellow;
}

.items-5 {
  grid-area: e;
  background-color: red;
}

.items-6 {
  grid-area: f;
  background-color: whitesmoke;
}

.items-7 {
  grid-area: g;
  background-color: rgb(54, 95, 76);
}
.items-8 {
  grid-area: h;
  background-color: cornflowerblue;
}

.items-9 {
  grid-area: i;
  background-color: rgb(105, 65, 65);
}

.items-10 {
  grid-area: j;
  background: radial-gradient(blue, red);
  min-height: 10vh;
}
